html {
     height: 100%;
}
body {
     height: 100%;
     margin: 0;
     padding: 0;
}

h1{
	margin: 0;
    padding: 0;
	text-align: center;
}
#side {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	float:left;
	width:25%;
	height:100%;
}
#side_top{
	top: 0px;
	left: 0px;
	background:white;
	height:50%;
}
#alarmTables {
	float:left;
    clear:left;
	overflow: auto;
	background:white;
	height: calc(100% - 100px);;
}
#alarmTable {
	text-align: left;
	table-layout: fixed;
	width: 3*;
}
#alarmTableMinor {
	text-align: left;
	table-layout: fixed;
	width: 3*;
	color: grey;

}
#alarmTableMajor {
	text-align: left;
	table-layout: fixed;
	width: 3*;
	color: red;
}

#side_bottom{
	color: white;
	background:#1F1750;
	bottom: 0px;
	left: 0px;
	height:50%;
}
#trainTable {
	text-align: left;
	table-layout: fixed;
	width: 3*;
}

#map-canvas {
	float:right;
	width:75%;
    height: 100%;
}

#selogo {
	margin: 5px;
	position: absolute;
	bottom: 0px;
	left: 0px;

}
#fstlogo {
	padding-right:100%;
	margin: 5px;
	bottom: 1%;
	float:left;
    clear:left;
}