/* The Modal (background) */
.modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    top: 10%;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    font-size: 18px; 
    width: 500px;
    height: 483px;
    position: relative;
    margin-top: auto;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 5px;
    cursor: pointer;
}

/* Modal Header */
.modal-content .modal-header, .modal-footer {
    padding: 5px 10px;
}

/* Modal Header */
.modal-content .modal-header img, .modal-footer img{
    height: 20px;
    width: 20px;
    padding: 5px; /* top right bottom left*/
    margin: 0px 10px 0px 0px; /* top right bottom left*/

}

/* The Close Button */
.modal-content .modal-header .close {
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
}

.modal-content .modal-header .close:hover,
.modal-content .modal-header .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .modal-footer {
    /*height: 40px;*/
    overflow:hidden;
}

/* Modal Header */
.modal-content .modal-footer img:hover, img:focus {
    cursor: pointer;
}


.modal-content .modal-footer .mapdiv, .listdiv, .gpsdiv, .searchdiv {
    height: 30px;
    float: left;
    margin: 5px; 
}

.modal-content .modal-footer .searchtxt {
    text-align: right;
    /*width: 180px; (-23)*/
    margin-left: 105.5px;
}
.modal-content .modal-footer .searchbox {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px; 
    vertical-align:middle;
    outline:none;
    float: left;
    width: 152px;
    height: 24px;
    display: none;
    border: 0px;
    padding: 3px 5px 3px 5px /* top right bottom left*/
}

.modal-content .modal-footer .searchicon {
    margin: 0px;
    float: right;
}

.modal-content .modal-footer span {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

/* Modal Body */
.modal-content .modal-body {
    width: 500px;
    height: 400px;
}

.modal-content .modal-body p, pre { 
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0.5em;
}

/* Modal Body */
.modal-content .modal-body .tables {
    float:left;
    clear:left;
    overflow: auto;
    overflow-x: hidden;
    background:white;
    background-color: white;
    color: white;
    width: 100%;
    height: 400px;
}

/* Modal Body */
.modal-content .modal-body .tables table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content .modal-body .tables tr {
    border-bottom: 2px solid black;
}
/* Modal Body */
.modal-content .modal-body .map {
    color: black;
    width: 100%;
    height: 400px;
}

/* Modal Body */
.modal-content .modal-body .iwContent {
    color: black;
    width: 190px;
}

/* Modal Body */
.modal-content .modal-body .iwContent .p1 {
    font-size: 14px;
}
/* Modal Body */
.modal-content .modal-body .iwContent .p2 {
    font-size: 12px;
}


/* Modal Body */
.modal-content .modal-body .tableRow {
    float: center;
    color: black;
    width: 90%;
}

/* Modal Body */
.modal-content .modal-body .tableRow .left, .right{
    width: 200px;
    float: left;
    word-wrap: break-word;
    padding: 5px 10px 5px 10px /* top right bottom left*/
}

/* Modal Body */
.modal-content .modal-body .tableRow .p1 {
    font-size: 14px;
}
.modal-content .modal-body .tableRow .p2 {
    font-size: 12px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* mobile view */
/*@media screen and (max-width: 501px) {*/
@media only screen and (max-device-width: 501px) {
    .modal-content {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
    }

    .modal-content .modal-body {
        width: 100%;
        height: 80%;
    }

    .modal-content .modal-body .map {
        height: 100%;
    }
    .modal-content .modal-body .tables {
        height: 100%;
    }

    .modal-content .modal-body, .map, .tables {
        width: 100%;
    }

    .modal-content .modal-body .iwContent {
        width: 140px;
    }   

    /* Modal Body */
    .modal-content .modal-body .tableRow .left, .right {
        width: 100%;
    }

    .modal-content .modal-footer .mapdiv, .listdiv, .gpsdiv, .searchdiv {
        float: right;
    }
}

/* cannot do in production, breach of terms. 9.4 https://developers.google.com/maps/terms */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    /* background:none !important;  zoom in/out buttons */
}